### 자료형
기본적인 자료형의 종류

- 숫자(number) : 물건의 가격, 학생의 성적 53,273, 103.22
- 문자열(string) : 메일 제목, 메시지 내용등 "Hello World"
- 불(boolean) : 친구의 로그인 상태 True, False

In [1]:
print(273) #정수

273

In [2]:
#변수의 현재 타입을 조사할 때는 type 명령을 사용
#type()은 데이터 타입(오브젝트의 클래스 타입)을 확인할 수 있는 함수
h = 1234
print(h,type(h))

1234 <class 'int'>

In [4]:
#정수형
print(0o10) #8진수
print(0x10) #16진수
print(0b10) #2진수

#10진수를 원하는 진수로 변환
print(oct(38)) #8진수로 변환
print(hex(38)) #16진수로 변환
print(bin(38)) #2진수로 변환

8
16
2
0o46
0x26
0b100110

In [5]:
#실수
print(type(3.14))

<class 'float'>

In [6]:
#문자
i = 'string'
print(i,type(i))

string <class 'str'>

In [12]:
print("오늘은 \"월요일\"")
print('내일은 "화요일"')

print("여기는 '서울'")
print('저기는 \'부산\'')

오늘은 "월요일"
내일은 "화요일"
여기는 '서울'
저기는 '부산'

In [16]:
print('py' + 'thon')
print('py' 'thon') # + 연산자 생략 가능
print('py''thon') #'py'와 'thon' 사이에 공백이 없어도 됨
print('py' * 3) #문자열 3번 반복

python
python
python
pypypy

In [18]:
#""" 또는 ''' 줄바꿈이나 탭도 그대로 적용됨
print("""
        하늘        바다
        지구
""")

print('''
        하늘        바다
        지구
''')

        하늘        바다
        지구


        하늘        바다
        지구

In [19]:
print("\t탭\n다음줄")

	탭
다음줄

In [21]:
#이스케이프 문자 무력화
#파이썬에서는 문자열 앞에 r를 붙여서 로(row)문자열로 선언할 수 있음
print(r"\t탭\n다음줄")

\t탭\n다음줄

In [22]:
x = '가는 말이 고와야 오는 말이 곱다.'
n = len(x) #문자열의 길이
print('문자열의 길이 :' + str(n)) #정수 n을 문자열로 바꿈

문자열의 길이 :19

In [ ]:
#문자열 인덱싱과 슬라이싱
a = "Life is too short, You need Python"
print(a[3])
print(a[-1])
print(a[-0]) #a[0]과 같은 값을 보여줌

e
n
L

In [29]:
#문자열 슬라이싱
print(a[0:4]) #끝 번호를 포함하지 않음
print(a[19:]) #끝 번호를 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아냄
print(a[:17]) #시작 번호를 생략하면 문자열의 처음부터 끝 번호전까지 뽑아냄
print(a[19:-7]) #19 ~ -8까지를 의미. -7은 포함하지 않음

Life
You need Python
Life is too short
You need

In [ ]:
# %s 문자열, %d 정수형 숫자, %f 실수형 숫자
animal = '고양이'
x = '나는 %s를 %s 좋아합니다.' % animal
print(x)

나는 고양이를 좋아합니다.

In [32]:
age = 25
print('내 나이는 %d살 입니다.' % age)

내 나이는 25살 입니다.

In [34]:
num = 1000
print(format(num,',')+'원')

#{0}는 위치 인덱스를 나타냄 0은 format() 
#함수의 첫 번째 인수를 가리킴
print('{0:,}원'.format(num))

1,000원
1,000원

In [35]:
#2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 10 apples. so I was sick for three days.'

In [36]:
#이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [38]:
#인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [42]:
#왼쪽 정렬
print("{0:<10}".format("hi"))
#오른쪽 정렬
print("{0:>10}".format("hi"))
#가운데 정렬
print("{0:^10}".format("hi"))
#공백 채우기
print("{0:=^10}".format("hi"))

hi
        hi
    hi
====hi====

In [44]:
#소수점 표현하기
y = 3.42134234
print("{0:0.4f}".format(y))
print("{0:10.4f}".format(y)) #자릿수 10 지정

3.4213
    3.4213

In [45]:
#f문자열 포매팅
name = '홍길동'
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 20입니다.'

In [47]:
#위치 알려주기
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

14
-1

In [49]:
#위치 알려주기
a = "Life is too short"
print(a.index('t'))
print(a.index('k')) #없으면 오류

8

ValueError: substring not found

In [51]:
#문자열 삽입
print(",".join('abc'))
print(",".join(['a','b','c','d']))

a,b,c
a,b,c,d

In [3]:
#소문자를 대문자로 바꾸기
a = 'hi'
print(a.upper())
#대문자를 소문자로 바꾸기
b = 'HI'
print(b.lower())
#왼쪽 공백 지우기
c = " hi "
print(c.lstrip())
#오른쪽 공백 지우기
d = " hi "
print(d.rstrip())
#양쪽 공백 지우기
e = " hi "
print(e.strip())
#문자열 바꾸기
f = "Life is too short"
print(f.replace("Life","Your leg"))
#문자열 나누기
g = "Life is too short"
print(g.split()) #공백을 기준으로 문자열 나눔
h = "a:b:c:d"
print(h.split(':')) # :기호를 기준으로 문자열 나눔

HI
hi
hi
 hi
hi
Your leg is too short
['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [4]:
#문자열이나 수치들간의 변환은 다음과 같이 
#각 타입 클래스의 생성자를 이용해서 가능

print(str(3.14)) #문자열로 변환
print(int("49")) #정수로 변환
print(float(23)) #실수로 변환

3.14
49
23.0

In [5]:
#사용자로부터 값을 입력받을 때는 input 명령을 사용한다.
#변수 = input('질문 내용')
age = input('몇 살이세요?')
print(age)
print(type(age))

20
<class 'str'>

In [6]:
price = input('가격을 입력하세요')
num = input('개수를 입력하세요')
#input으로 입력된 데이터는 문자열로 인식
print(type(price),type(num))
total = int(price) * int(num)
print('총액은 ', total, '원입니다.')

<class 'str'> <class 'str'>
총액은  5000 원입니다.