In [1]:
data = [20,10,50,40,30]
print(data)

[20, 10, 50, 40, 30]

In [2]:
data.sort() #오름차순으로 정렬
print(data)

[10, 20, 30, 40, 50]

In [4]:
data.sort(reverse=True) #내림차순으로 정렬
print(data)

[50, 40, 30, 20, 10]

In [5]:
data.reverse() #반대로 정렬
print(data)

[10, 20, 30, 40, 50]

In [6]:
data2 = ['서울','부산','대구','인천','광주']
print(data2)

['서울', '부산', '대구', '인천', '광주']

In [7]:
data2.sort() #오름차순으로 정렬
print(data2)

['광주', '대구', '부산', '서울', '인천']

In [9]:
data2.sort(reverse=True) #내림차순으로 정렬
print(data2)

['인천', '서울', '부산', '대구', '광주']

In [10]:
data2.reverse() #반대로 정렬
print(data2)

['광주', '대구', '부산', '서울', '인천']

In [11]:
#문자열과 리스트

string1 = "Python is fun!"
print(string1)

Python is fun!

In [12]:
x = string1.find("fun") #string1에서 "fun"이 제일 먼저 나오는 위치, 즉 인덱스
print(x)

10

In [13]:
string2 = "사과는 맛있다. 나는 사과를 제일 좋아한다"
print(string2)

사과는 맛있다. 나는 사과를 제일 좋아한다

In [14]:
x = string2.replace("사과","딸기")
print(x)

딸기는 맛있다. 나는 딸기를 제일 좋아한다

In [15]:
hello = "have a nice day"
print(hello)

have a nice day

In [16]:
list1 = hello.split(" ")
print(type(list1))

<class 'list'>

In [17]:
for i in range(0,len(list1)):
    print("list1[%d] : %s" % (i,list1[i]))

list1[0] : have
list1[1] : a
list1[2] : nice
list1[3] : day

In [18]:
#리스트 문자열로 변환
names = ["홍길동","장영실","김유신"]
print(names)

['홍길동', '장영실', '김유신']

In [19]:
#리스트를 지정한 구분자로 구분해서 반환(데이터가 문자열만 가능
#숫자면 오류)
x = "/".join(names)
print(x)

홍길동/장영실/김유신

In [20]:
phone1 = ["010","1234","5678"]
print(phone1)

['010', '1234', '5678']

In [21]:
phone2 = "-".join(phone1)
print(phone2)

010-1234-5678

In [25]:
#2차원 리스트
number2 = [[10,20,30],[40,50,60,70,80]]
print(number2[0][0])
print(number2[0][1])
print(number2[0][2])
print(number2[1][0])
print(number2[1][1])
print(number2[1][2])
print(number2[1][3])
print(number2[1][4])

10
20
30
40
50
60
70
80

In [26]:
data = [[10,20],[30,40],[50,60],[70,80]]
for i in range(4): #i는 리스트의 행
    for j in range(2): #j는 리스트의 열
        print("data[%d][%d] = %d" % (i, j, data[i][j]))

data[0][0] = 10
data[0][1] = 20
data[1][0] = 30
data[1][1] = 40
data[2][0] = 50
data[2][1] = 60
data[3][0] = 70
data[3][1] = 80