In [2]:
#튜플에서는 리스트의 대괄호([]) 대신에 소괄호(())를 사용
#튜플에서는 리스트와 달리 요소의 수정과 추가가 불가능함
animals = ("토끼","거북이","사자","여우")
print(animals)
print(type(animals))
for i in range(len(animals)):
    print(animals[i])

('토끼', '거북이', '사자', '여우')
<class 'tuple'>
토끼
거북이
사자
여우

In [3]:
print(animals[0]) #인덱스 0번 요소의 값 출력

토끼

In [ ]:
animals[2] = "호랑이" #튜플은 요소 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [5]:
#tuple()함수를 이용한 튜플 생성, 
#range()함수를 이용한 0~9까지 숫자 생성
numbers = tuple(range(10))
print(numbers)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [10]:
print("numbers[0]",numbers[0])
print("numbers[2:5]",numbers[2:5]) #2~4
print("numbers[2:]",numbers[2:]) #2~9
print("numbers[:5]",numbers[:5]) #0~4
print("numbers[-2]",numbers[-2]) #8

numbers[0] 0
numbers[2:5] (2, 3, 4)
numbers[2:] (2, 3, 4, 5, 6, 7, 8, 9)
numbers[:5] (0, 1, 2, 3, 4)
numbers[-2] 8

In [11]:
tup1 = (10,20,30)
tup2 = (40,50,60)
tup3 = tup1 + tup2 #튜플 합치기
print(tup3)

(10, 20, 30, 40, 50, 60)

In [12]:
#딕셔너리(dictionary)
#딕셔너리 Key와 Value를 한 쌍으로 갖는 자료형
member = {"name":"황석영","age":22,"email":"test@test.com"}
print(member)
print(type(member))

{'name': '황석영', 'age': 22, 'email': 'test@test.com'}
<class 'dict'>

In [13]:
#key와 value 쌍으로 딕셔너리 생성
d = dict(a=1,b=3,c=5)
print(d)

{'a': 1, 'b': 3, 'c': 5}

In [14]:
#튜플 리스트를 딕셔너리로 생성
score = dict([("국어",80),("영어",90),("수학",100)])
print(score)

{'국어': 80, '영어': 90, '수학': 100}

In [18]:
user = {"id":"dragon","name":"홍길동","level":7,"point":1000}
print(user)
print(user["id"]) #user.id 형식은 인정하지 않음
print(user["name"])
print(user["level"])
print(user["point"])

{'id': 'dragon', 'name': '홍길동', 'level': 7, 'point': 1000}
dragon
홍길동
7
1000

In [19]:
scores = {"kor":90,"eng":89,"math":98}
print(scores)

{'kor': 90, 'eng': 89, 'math': 98}

In [23]:
#추가
scores["music"] = 100
print(scores)
#수정
scores["music"] = 200
print(scores)
#삭제
x = scores.pop("eng")
print(x)
print(scores)

{'kor': 90, 'eng': 89, 'math': 98, 'music': 100}
{'kor': 90, 'eng': 89, 'math': 98, 'music': 200}
89
{'kor': 90, 'math': 98, 'music': 200}

In [24]:
#딕셔너리 scores의 전체 요소 삭제
scores.clear()
print(scores)

{}

In [25]:
area_code = {"서울":"02","부산":"051","대구":"053","광주":"062"}

for key in area_code: #반복 루프에서  key는 area_code의 키를 의미
    print("%s 지역번호 : %s" % (key,area_code[key]))

서울 지역번호 : 02
부산 지역번호 : 051
대구 지역번호 : 053
광주 지역번호 : 062

In [27]:
#집합 자료형
#집합(set)은 파이썬 2.3부터 지원하기 시작한 자료형으로,
#집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
s1 = set([1,2,3])
print(s1)

#중복을 허용하지 않음
#순서가 없다(Unordered)
#리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해
#자료형의 값을 얻을 수 있음
#set 자료형은 순서가 없기(Unordered) 때문에 인덱싱으로 값을
#얻을 수 없음
s2 = set("hello")
print(s2)

{1, 2, 3}
{'l', 'o', 'e', 'h'}

In [29]:
#리스트로 변환
s3 = set([1,2,3])
print(s3,type(s3))
lt1 = list(s3)
print(lt1,type(lt1))

#튜플로 변환
t1 = tuple(s3)
print(t1,type(t1))

{1, 2, 3} <class 'set'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

In [34]:
#교집합, 합집합, 차집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

#교집합
print(s1 & s2)
print(s1.intersection(s2))

#합집합
print(s1 | s2)
print(s1.union(s2))

#차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [8]:
#집합 자료형 관련 함수
s1 = set([1,2,3])
print(s1)
#set 자료형에 값 추가
s1.add(4)
print(s1)

s2 = set([1,2,3])
#값 여러 개 추가하기(update)
s2.update([4,5,6])
print(s2)

s3 = set([1,2,3])
#특정 값 제거하기(remove)
s3.remove(2)
print(s3)

s4 = set([10,20,30,40])
print(s4)
s4.clear()
print(s4)
s4.add(100)
print(s4)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3}
{40, 10, 20, 30}
set()
{100}